/* Fire */
.empty-cell {
  -fx-fill: grey;
}

.tree-cell {
  -fx-fill: green;
}

.burning-cell {
  -fx-fill: orange;
}

/* Game of Life */
.alive-cell {
  -fx-fill: black;
}

.dead-cell {
  -fx-fill: white;
}

/* Percolation */
.empty-site{
  -fx-fill: white;
}

.full-site{
  -fx-fill: skyblue;
}

.blocked-site{
  -fx-fill: black;
}

/* Wator */
.empty-water{
  -fx-fill: darkblue;
}

.fish{
  -fx-fill: palevioletred;
}

.shark{
  -fx-fill: gold;
}

/* Schelling */
.agent{
  -fx-fill: crimson;
}

.agentX{
  -fx-fill: dodgerblue	;
}

.no-agent{
  -fx-fill: white;
}

