/* Fire */
.empty-cell {
  -fx-fill: forestgreen;
}

.tree-cell {
  -fx-fill: orange;
}

.burning-cell {
  -fx-fill: crimson;
}

/* Game of Life */
.alive-cell {
  -fx-fill: black;
}

.dead-cell {
  -fx-fill: white;
}

/* Percolation */
/* colors for this one are gotten from the princeton percolation case study*/
.empty-site{
  -fx-fill: white;
}

.full-site{
  -fx-fill: skyblue;
}

.blocked-site{
  -fx-fill: black;
}

/* Wator */
.empty-water{
  -fx-fill: darkblue;
}

.fish{
  -fx-fill: palevioletred;
}

.shark{
  -fx-fill: gold;
}

/* Schelling */
.agent{
  -fx-fill: crimson;
}

.agentX{
  -fx-fill: dodgerblue	;
}

.no-agent{
  -fx-fill: white;
}

/* Siulation Title */
.simulation-title {
  -fx-font-size: 40px;
}
